


.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: auto;   
  align-items: center;        
  padding: 5rem;
  padding-top: 1rem;
}



.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}
